.message{"data-message-id": "#{message.id}"}
  .message-member
    .message-member__user-name
      = message.user.name
    .message-member__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message-title
    - if message.content.present?
      %p.message-title__content
        = message.content
    = image_tag message.image.url, class: 'message-title__image' if message.image.present?