.wrapper

  = render 'shared/side_bar'

  .chatblock
    .header
      .left-block
        .left-block__title
          グループ名
        %ul.left-block__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-block
        .right-block__button
          Edit
    .messagesblock
      .message
        .message-member
          .message-member__user-name
            メンバー
          .message-member__date
            YYYY/MM/DD
        .message-title
          .message-title__content
            メッセージ

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'